.customul[b-owqllxb1rj] {
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.h5[b-owqllxb1rj] {

    padding-top:7px!important;
}

.navbar-toggler[b-owqllxb1rj] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-owqllxb1rj] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-owqllxb1rj] {
    font-size: 1.1rem;
}

.oi[b-owqllxb1rj] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-owqllxb1rj] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-owqllxb1rj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-owqllxb1rj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-owqllxb1rj]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-owqllxb1rj]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-owqllxb1rj]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-owqllxb1rj] {
        display: none;
    }

    .collapse[b-owqllxb1rj] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
