@page "/about"

<table style="margin-left:auto;margin-right:auto; margin-top:auto;margin-bottom:auto;">
    <tr>
        <td>
            <h1>Cosmos DB World - Developed by Tejinder Rai</h1>
        </td>
    </tr>
</table>