@page "/invoiceviewer"

<h5>Invoice File</h5>

<iframe src="@Uri" width="750" height="700" frameborder="0">></iframe>

@code {
    [Parameter] 
    public string Uri {get;set;}

    // Replace this URL with the actual URL of the PDF from your open REST API
}