@page "/"
@inject IConfiguration configuration
@using Azure;
@using Azure.AI.OpenAI;
@using Components;


<PageTitle>Home</PageTitle>
@*<a href="/vision">Vision</a>*@

@*Record Audio using Microsoft Azure Cognitive Services*@
@*@using Microsoft.CognitiveServices.Speech;
@using Microsoft.CognitiveServices.Speech.Audio;*@



@*<BlazorSimpleAI.Components.BlobLoader/>*@

<div class="centeralign">
<h4>Enter a question to ask Azure OpenAI?</h4>
    <div class="input-group mb-3 ">
        <input type="text" @ref="QuestionBox" class="form-control textbox-parameters"  @bind="Question">
        <div style="padding-left:10px;"/>
        <button id="SubmitQuestion" class="btn btn-primary" @onclick="SubmitQuestion">Submit</button>
@*        <div style="padding-left:10px;" />
        <button id="SubmitQuestion" class="btn btn-primary" @onclick="RecordAudio">Record Audio</button>*@
    </div>        
</div>

<BlazorSimpleAI.Components.AzureOpenAIChat @bind-Question="Question" />

@code {

    string ?Question { get; set; }  
    private ElementReference QuestionBox;


    private void SubmitQuestion()
    {
        this.StateHasChanged();
    }

    private void OnChange(ChangeEventArgs e)
    {
        Question = e.Value.ToString();
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await QuestionBox.FocusAsync();
        }
    }

@*    private async void RecordAudio()
    {
        var speechConfig = SpeechConfig.FromSubscription("005ca98688984dd7a1d9380937af799d", "uksouth");

        using var audioConfig = AudioConfig.FromDefaultMicrophoneInput();
        using var speechRecognizer = new SpeechRecognizer(speechConfig, audioConfig);

        //Console.WriteLine("Speak into your microphone.");
        var result = await speechRecognizer.RecognizeOnceAsync();
        Question = result.Text;
        //Console.WriteLine($"RECOGNIZED: Text={result.Text}");
        this.StateHasChanged();
    }*@
}
