@*<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">*@
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Simple AI</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="vision">
                        <span class="oi oi-image" aria-hidden="true"></span> Image Analysis
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="invoice">
                        <span class="oi oi-document" aria-hidden="true"></span> Invoice Analysis
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="imagegen">
                        <span class="oi oi-image" aria-hidden="true"></span> Image Generation
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
