<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://keyvaultsecretreaderfunctionapp20240723220118.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/da172ee6-cc1b-49b5-9f91-2cdb125818f4/resourcegroups/AppServiceTest/providers/Microsoft.Web/sites/KeyVaultSecretReaderFunctionApp20240723220118</ResourceId>
    <UserName>$KeyVaultSecretReaderFunctionApp20240723220118</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://keyvaultsecretreaderfunctionapp20240723220118.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>