@page "/"
@*@using Microsoft.Azure.Cosmos;
    @using CosmosWorld.Data;*@

@*<h1>Hello, world!</h1>*@

@*Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

@*<DxFormLayout ItemSizeMode="SizeMode.Medium">*@
    <CosmosWorld.Components.CountriesControl></CosmosWorld.Components.CountriesControl>
@*</DxFormLayout>*@

@*<DxFormLayout ItemSizeMode="SizeMode.Medium">
    <CosmosWorld.Components.BingMapsComponent Longitude="@Longitude" Latitude="@Latitude"></CosmosWorld.Components.BingMapsComponent>
</DxFormLayout>*@

